<!-- <div class="typewriter">
  <img src="./assets/images/image1.jpg" alt="image">
  <h1><b>ICIN BANK</b></h1>
  
  <p id="line-1"></p>
  <p id="line-2">Click Here to Register/login...</p>
  <a href="mailto:di.lisova@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
  </div>
  
   -->
<!DOCTYPE html>
<head>
</head>
   <div class="container">
    <img src="./assets/images/image1.jpg" alt="image">
    <form class="typewriter">
      <h1><b>ICIN BANK</b></h1>
  
      <p id="line-1">Bank with us</p>
      <p id="line-2">Click Here to Register/login...</p>
      <a href="mailto:di.lisova@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
      <button type="submit" class="btn btn-default" (click)="enterPage('registeration')">CLICK ME!!</button>
    </form>
    </div>

<router-outlet></router-outlet>
